@model AboutViewModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>Result: @Model.Result</h4>
<h4>Message: @Model.Message</h4>

<p>Use this area to provide additional information.</p>
